* {
  margin: 0;
  padding: 0;
}
body {
  padding: 80px;
}
textarea {
  max-width: 100%;
  max-height: 20%;
}
form {
  max-height: 600px;
}

input,
input::placeholder {
    font-size: 20px;
    line-height: 3;
}

}

.item2 {
  margin-bottom: 20px;
  margin-top: 250px;
  padding-top: 150px;
}


.item3 {
  width: 55%;
  height: 40vw;
  margin-right: 10px;
  margin-top: 150px;
  margin-bottom: 10px;
  display: table;
}

td {
    white-space: normal !important;
    padding: 4px;
}
