<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab|Ruda" />
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='blog/css/styles.css') }}">
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
    <link rel="stylesheet" type= "text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    {% endblock styles %}
    {% endblock head %}
  </head>
  <body>
<header>
    <nav class="navbar navbar-light navbar-expand-md">
      <a class="navbar-brand" href="/">table1.cc home</a>
        <div class="container">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> ☰
            </button>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <a class="nav-item nav-link" href="{{ url_for('about')}}">About</a>
                    <a class="nav-item nav-link" href="{{ url_for('tutorial')}}">Tutorial</a>
                    <a class="nav-item nav-link" href="{{ url_for('faq')}}">FAQ</a>
                    <a class="nav-item nav-link" href="/blog">Blog</a>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    <li>
                        <a href="https://twitter.com/table1cc" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/christian-geier/table1.cc" class="nav-link"><i class="fa fa-github fa-lg"></i></a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div>
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
                {% if category == 'message' %}
                  <div class="alert alert-warning" role="alert">
                {% else %}
                  <div class="alert alert-{{ category }}" role="alert">
                {% endif %}
                  {{ message }}
                </div>
            {% endfor %}
          {% endif %}
      {% endwith %}
    </div>
</header>

<!--
    <nav class="navbar navbar-expand-lg fixed-top navbar-light">
      <a class="navbar-brand" href="/">table1.cc home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="navbar-nav">
        <a class="nav-item nav-link" href="{{ url_for('tutorial')}}">Tutorial</a>
        <a class="nav-item nav-link" href="{{ url_for('faq')}}">FAQ</a>
        <a class="nav-item nav-link" href="/blog">Blog</a>

        <ul class="nav navbar-nav ml-auto">
    <li>
        <a href="#" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a>
    </li>
        </ul>

      </div>
    </nav> -->

    {% block content %}{% endblock %}

    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    {% endblock %}
  </body>
</html>
