{% extends "base.html" %}

{% block head %}
<title>table1.cc | Frequently Asked Questions</title>
{{ super() }}
{% endblock %}

{% block content %}
<body>
<div class="container">

<div class="item1">


<h5><em>Q: What is the purpose of table1.cc?</em></h5>
<h5>A: Research papers in clinical trials or case-control studies usually include a <em>"Table 1"</em> to summarize <a href="https://en.wikipedia.org/wiki/Summary_statistics">population statistics</a>.
To minimize error, optimize efficiency and enhance reproducibility, automation of this task is desirable. Currently available software packages for <a href="https://github.com/kaz-yos/tableone" data-toggle="tooltip" title="A powerful statistical programming language">R</a> and <a href="https://github.com/tompollard/tableone"  data-toggle="tooltip" title="A programming language popular in life sciences">Python</a> provide part of the solution
but their reliance on programming syntax limits their widespread adoption.
</h5>

<h5><em>Q: Is my data encrypted?</em></h5>
<h5>A: Yes. Table1.cc uses https and SSL certificates through <em>Let's encrypt.</em>. You can read more about our initiatives to ensure encryption is this <a href="https://www.table1.cc/blog/posts/ensuring-effective-encryption-on-table1cc/">blog post</a>.
</h5>

</div>

</div>
</body>
{% endblock %}
