  {% extends "base.html" %}
  {% block head %}
    {{ super() }}
    <meta name="description" content="A simple Tool to Automate the Creation of Table 1. Try it out now!">
    <meta name="keywords" content="Table 1, automate, scholar, population, publication, app, data analysis, summary statistics, population, cohort study, clinical trial">
    <meta name="author" content="Christian Geier, MD">
    <title>table1.cc | Automates the Creation of Table 1; Quick and Reliable!</title>
  {% endblock %}

  {% block content %}




<div id="wrap">

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Table1.cc - Smart Creation of <i>Table 1</i>s for research papers!</h1>
      <p class="lead">A simple web application featuring an intuitive, easy-to-use interface for the reproducible generation of a <em>Table 1</em></p>
      <p class="lead">
    <a class="btn btn-primary btn-lg" href="{{ url_for('tutorial')}}" role="button">Watch a <strong>tutorial</strong>!</a>
  </p>
    </div>
  </div>

  <hr>

    <h5><em>Try it out below with this </em><a href="https://static-content.springer.com/esm/art%3A10.1186%2F1745-6215-7-15/MediaObjects/13063_2006_152_MOESM1_ESM.xls">sample dataset</a> (Vickers AJ, Rees RW, Zollman CE, McCarney R, Smith CM, Ellis N, et al. <em>Acupuncture for chronic headache in primary care: large, pragmatic, randomised trial. BMJ. 2004 Mar 25;328(7442):744.</em>)</h5>
    <p>

</div>

<div class="container">

  <div class="item1">

  {% if complete_form.paste_data %}
  <form method="post">
          {{ complete_form.paste_data.hidden_tag()}}
          {{ complete_form.paste_data.excel_data(cols="", rows="7", hidden=hide_display) }}
          <br>
          {% for error in complete_form.paste_data.excel_data.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
          {{ complete_form.paste_data.submit1(hidden=hide_display) }}
  {% endif %}

{% if complete_form.options %}
    {{complete_form.options.hidden_tag()}}
    {% if complete_form.options.grouping_variable.choices != [] %}
    <h5><b>Step 1:</b> Select Grouping Variable:</h5>
    {{ complete_form.options.grouping_variable() }}
    <br>
    <h5><b>Step 2:</b> Select Variables of Interest and select the Variable Type:</h5>
    <table>
      <tr>
    {% for subfield in complete_form.options.included_variables %}
          <td>{{ subfield(checked=True) }}</td>
          <td><b>{{ subfield.label }}</b></td>
          <td>{{ complete_form.options.variable_type() }}<td>
    {% endfor %}
  </tr>
  </table>
        <h5><b>Step 3:</b> Additional options:</h5>
        {{ complete_form.options.pval(checked=False)}}
        {{ complete_form.options.pval.label }}
        {% endif %}
        <hr>
  </form>
  {% endif %}

  {% endblock content %}

</div>

{% block scripts %}
{{ super() }}
<script>

</script>

{% endblock scripts %}
