  {% extends "base.html" %}
  {% block head %}
    {{ super() }}
    <meta name="description" content="Welcome to table1.cc - Generate Your Table 1 in seconds!
    Born out of frustration & here to ease your pain. Simply Paste to generate 'Table 1' automatically for you.">
    <meta name="keywords" content="Table 1, automate, scholar, population, publication, app">
    <meta name="author" content="Christian Geier, MD">
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"> -->
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <style type="text/css">
      .important { color: #336699; }
    </style>
  {% endblock %}

  {% block content %}

<h1>Welcome to table1.cc - Generate Your Table 1 for research papers within <em>Seconds</em>!</h1>

<h3>
Scholarly work often requires to generate a <em>"Table 1"</em> to show summarized population data.
This may require an iterative, highly repetitive workflow. <br>Available software packages for <a href="https://github.com/kaz-yos/tableone">R</a> and <a href="https://github.com/tompollard/tableone">Python</a> provide part of the solution
yet their adoption is often limited by barriers to use programming syntax.
</h3>

<hr>

<p>
Table1.cc aims to make this functionality accessible to the entire scientific community.
</p>


<div id="wrap">
  <div class="item1">
  <form method="post">
          {{form.hidden_tag()}}
          {{ form.excel_data(cols="99", rows="10") }}
          <br>
          {% for error in form.excel_data.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}



          {% for subfield in form.grouping_variable %}
        <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
        </tr>
    {% endfor %}
      {{ form.submit() }}


  </form>
</div>
  <div class="item2">
  </div>

  <div class="item3">

    {% if my_table_html %}

    {{ my_table_html | safe }}

    {% endif %}


  </div>
  <div class="nested-items">
    <div class="item4">




    </div>
    <div class="item5"></div>
  </div>
</div>

  {% endblock content %}

{% block scripts %}
{{ super() }}
<script>

// function generateTable() {
//     var data = $('#pastein').val();
// var rows = data.split("\n");
//
// var table = $('<table />');
//
// for(var y in rows) {
//     var cells = rows[y].split("\t");
//     var row = $('<tr />');
//     for(var x in cells) {
//         row.append('<td>'+cells[x]+'</td>');
//     }
//     table.append('<input type="hidden" name="value">');
//     table.append(row);
//     table.append('</input>');
// }

// Insert into DOM
// $('#excel_table').html(table);
// }

// $(document).ready(function() {
// 	$('#pastein').on('paste', function(event) {
//       $('#pastein').on('input', function() {
//         generateTable();
//         $('#pastein').off('input');
//       })
//   })
// })


// $(document).ready( function () {
//     $('#parsed_table').DataTable();
// } );


</script>

{% endblock scripts %}
