{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <meta name="description" content="Welcome to table1.cc - Generate Your Table 1 in seconds!
  Born out of frustration & here to ease your pain. Simply Paste to generate 'Table 1' automatically for you.">
  <meta name="keywords" content="Table 1, automate, scholar, population, publication, app">
  <meta name="author" content="Christian Geier, MD">
  <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"> -->
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}
<h3>
<strong><u>Tutorial:</u></strong></h3>

<a href="https://static-content.springer.com/esm/art%3A10.1186%2F1745-6215-7-15/MediaObjects/13063_2006_152_MOESM1_ESM.xls">Sample Trial Dataset</a> of a randomized trial

Vickers AJ, Rees RW, Zollman CE, McCarney R, Smith CM, Ellis N, et al. Acupuncture for chronic headache in primary care: large, pragmatic, randomised trial. BMJ. 2004 Mar 25;328(7442):744.

{% endblock %}
