{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <meta name="description" content="Tutorial on how to generate your Table 1 for research papers quickly and reproducibly.">
  <meta name="keywords" content="Table 1, automate, tutorial, csv, scholar, population, publication, app, R, Python, Pandas, Stata">
  <meta name="author" content="Christian Geier, MD">
  <title>table1.cc | Watch a tutorial on how to use table1.cc to generate your Table 1 for reseach papers!</title>
  <link rel="canonical" href="https://www.table1.cc/tutorial" />

{% endblock %}

{% block content %}

  <div class="container">
    <div>
    <h5>The animation below gives a quick overview on how to get started: <em>Simply copy and paste the spreadsheet data into the textfield on the starting page to get started and follow the instructions:</em></h5>
    </div>
  <span class="img-container">
    <img src="/img/tutorial-table1-v2.gif" alt="An animation demonstrating the use of table1.cc to generate a table 1 automatically">
    <figcaption>Fig.1 - Simply follow the step-by-step instructions in this clip to automatically generate your <em>Table 1</em></figcaption>
  </span>
</div>
<p>
<h2>
<strong>Check our blog for an additional <a href="https://www.table1.cc/blog/posts/simple-creation-of-table1-summary-statistics-for-research-papers-using-table1cc/">step-by-step guide</a></strong>.</h2>

<p>
  <h4><strong>Feel free to contact us on <a href="https://twitter.com/table1cc">Twitter</a> in case of questions.</strong>
</h4>

{% endblock %}
